# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
.venv/

# Packaging
*.egg-info/
dist/
build/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Jupyter (if any)
.ipynb_checkpoints/
